{% extends 'baseprice.html' %}
{% load board_filter %}
{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">컬렉션</h1>
        <p class="lead text-muted">내가 가진 그림을 다른 분들에게 자랑해보세요. <br>
            컬라는 미술품 공유를 통해 건강한 컬렉터 문화를 만들어 나갑니다.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">둘러보기</a>
          <a href="#" class="btn btn-secondary my-2">내 컬렉션</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container-lg">
    {% if collection_list %}
    {% for post in collection_list %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
              {% if post.head_image %}
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              {% endif %}
            <div class="card-body">
              <p class="card-text">{{ post.content }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">{{ post.create_date }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>

        {% if collection_list %}
        {% for post in collection_list %}
        <div class="card my-3 mx-auto" style="width: 80%; height: 180px; cursor: pointer; border-top: none; border-right: none; border-left: none;" onclick="location.href='/collection/detail/{{ post.id }}/'">
            <div class="row g-0 justify-content-between align-items-center" style="height: 100%">
            <div class="col-md-auto" >
              <div class="card-body" style="height: 100%">
                <p class="card-title mb-3" style="color: #333333; font-size: 20px; font-weight: bold"; >{{ post.subject }}</p>
                <p class="card-text me-5" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 14px; color: #666666">{{ post.content }}</p>
                <p class="card-text" style="font-size: 12px"><small class="text-muted">{{ post.create_date }}</small></p>
                  <p class="card-text"><small class="text-muted"><span style="color: #BF7E78">{{ post.author }}</span></small></p>
              </div>
            </div>
            {% if post.head_image %}
            <div class="col-md-3 ">
                <div class="d-flex justify-content-center">
                    <img src="{{ post.head_image.url }}" class="img-fluid rounded-start " style="max-height: 120px; width: auto; " alt="...">
                </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h4>no posts.</h4>
        {% endif %}


    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if collection_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ collection_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in collection_list.paginator.page_range %}
        {% if page_number >= collection_list.number|add:-5 and page_number <= collection_list.number|add:5 %}
            {% if page_number == collection_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if collection_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ collection_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

    <a href="{% url 'collection:create' %}" class="btn btn-primary">컬렉션 올리기</a>

    </div>
  </div>

</main>

{% endblock %}