{% extends 'baseprice.html' %}
{% load board_filter %}
{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">컬렉션</h1>
        <p class="lead text-muted">내가 가진 그림을 다른 분들에게 자랑해보세요. <br>
            컬라는 미술품 공유를 통해 건강한 컬렉터 문화를 만들어 나갑니다.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">둘러보기</a>
          <a href="#" class="btn btn-secondary my-2">내 컬렉션</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container-lg">
    <div class="row justify-content-start">
    {% if collection_list %}
      {% for post in collection_list %}
          <div class="col-4 mb-2" style="cursor: pointer;" onclick="location.href='/collection/detail/{{ post.id }}/'">
              {% if post.head_image %}
          <div class="card shadow-sm">
            <img src="{{ post.head_image.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225" >
              {% endif %}
            <div class="card-body">
              <div class="d-flex align-items-center mb-2" style="height: 75px">
                  <div class="card-text  text-truncate" style="max-height: 75px; white-space: pre-line ">{{ post.content }}</div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div style="color: #BF7E78">
                  {{ post.author }}
                </div>
                <small class="text-muted">{{ post.create_date }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    {% else %}
    <h4>no posts.</h4>
    {% endif %}


    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if collection_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ collection_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in collection_list.paginator.page_range %}
        {% if page_number >= collection_list.number|add:-5 and page_number <= collection_list.number|add:5 %}
            {% if page_number == collection_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if collection_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ collection_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

    <a href="{% url 'collection:create' %}" class="btn btn-primary">컬렉션 올리기</a>

    </div>
  </div>

</main>

{% endblock %}