{% extends 'baseprice.html' %}
{% load board_filter %}
{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">컬렉션</h1>
        <p class="lead text-muted">내가 가진 그림을 다른 분들에게 자랑해보세요. <br>
            컬라는 미술품 공유를 통해 건강한 컬렉터 문화를 만들어 나갑니다.</p>
        <p>
          <a href="{% url 'collection:main' %}" class="btn btn-primary my-2">둘러보기</a>
          <a href="#" class="btn btn-secondary my-2">내 컬렉션</a>
        </p>
      </div>
    </div>
  </section>
  <div class="d-flex justify-content-end" style="margin-bottom: 20px; margin-right: 3rem; position: sticky !important; top: 10px !important; right: 30px; z-index: 1;">
    <a href="{% url 'collection:create' %}" class="btn btn-primary">컬렉션 올리기</a>
  </div>


  <div class="album py-5 bg-light">
    <div class="container-lg">
    <div class="row justify-content-start">
    {% if collection_list %}
      {% for post in collection_list %}
          <div class="col-4 mb-2" style="cursor: pointer;" onclick="location.href='/collection/detail/{{ post.id }}/'">
              {% if post.head_image %}
          <div class="card shadow-sm">
                  <div style="height: 225px; display: inline-block;">
                    <img src="{{ post.head_image.url }}" class="bd-placeholder-img card-img-top shadow-sm" style="width: 100%; height: 100%; object-fit: cover;" >
                  </div>
              {% endif %}
            <div class="card-body" >
              <div class="d-flex align-items-center mb-2" style="height: 75px">
                  <div class="card-text  text-truncate" style="max-height: 75px; white-space: pre-line ">{{ post.content }}</div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div style="color: #BF7E78">
                  {{ post.author }}
                </div>
                <small class="text-muted">{{ post.create_date }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    {% else %}
    <h4>no posts.</h4>
    {% endif %}
    </div>
  </div>

</main>

{% endblock %}