{% load static %}
<nav class="navbar navbar-expand-lg navbar-light mb-2">
  <div class="container-fluid " >
      <a class="navbar-brand" href="{% url 'price:main' %}" style="width: 15vw">
          <img src="/static/recyKUle-logo.jpg" alt="" width="100%" height="100%" class="d-inline-block align-text-top">
      </a>
      <div class="navbar navbar-expand-sm flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'price:main' %}">설치 현황</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'board:list' %}">게시판</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <span class="nav-link active" onclick="logout()" style="cursor: pointer;">로그아웃</span>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'common:login' %}">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'common:signup' %}">회원가입</a>
            </li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>
<script>
    function logout(){
        fetch(`{% url 'common:logout' %}`, {
            method: "POST",
            headers: {
                'X-CSRFToken': getCsrfToken(),
            },
            redirect: "follow",
        }).then((response) => {
            console.log(response.redirected);
            location.href = response.url;
        }, (error) => { console.error(error); });
    }

    function getCsrfToken(){
    return document.cookie.split(';')
        .find((item) => item.includes('csrftoken'))
        .split('=')[1];
    }
</script>