{% extends 'baseprice.html' %}
{% load board_filter %}
{% block content %}
    <nav class="navbar navbar-expand-sm navbar-light mb-2">
      <div class="container-fluid " >
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'board:list' %}">전체보기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'board:cate1' %}">자유게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'board:cate2' %}">건의사항</a>
                </li>
            </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex justify-content-end" style="margin-bottom: 20px; margin-right: 3rem; position: sticky !important; top: 10px !important; right: 30px; z-index: 1;">
        <a href="{% url 'board:post_create' %}" class="btn btn-secondary">글쓰기</a>
    </div>
    <div class="container-lg">
        {% if board_list %}
        {% for post in board_list %}
        <div class="card my-3 mx-auto" style="width: 80%; height: 180px; cursor: pointer; border-top: none; border-right: none; border-left: none;" onclick="location.href='/board/list/{{ post.id }}/'">
            <div class="row g-0 justify-content-between align-items-center" style="height: 100%">
            <div class="col-sm-9" >
              <div class="card-body" style="height: 100%">
                <p class="card-title mb-3" style="color: #333333; font-size: 20px; font-weight: bold; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ post.subject }}</p>
                <p class="card-text me-5" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 14px; color: #666666">{{ post.content }}</p>
                <p class="card-text" style="font-size: 12px"><small class="text-muted">{{ post.create_date }}</small></p>
                  <p class="card-text"><small class="text-muted"><span style="color: #BF7E78">{{ post.author }}</span></small></p>
              </div>
            </div>
            {% if post.head_image %}
            <div class="col-sm-3 ">
                <div class="d-flex justify-content-center ">
                    <img src="{{ post.head_image.url }}" class="img-fluid rounded-start shadow-sm" style="max-height: 120px; width: auto; " alt="...">
                </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% else %}
        </div>
        <h4>no posts.</h4>
        {% endif %}


    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if board_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ board_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in board_list.paginator.page_range %}
        {% if page_number >= board_list.number|add:-5 and page_number <= board_list.number|add:5 %}
            {% if page_number == board_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if board_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ board_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->





{% endblock %}